.item-question{
    .form-action{
        display: none;
    }

    &:hover{
        .form-action{
            display: flex;
        }
    }
}

.form-list-question{
    &::-webkit-scrollbar {
        display: none;
    }
}