@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: hidden;
}

.hover-transparent:hover {
    background-color: transparent !important;
}

.hover-transparent {
    border: none !important;
}

.table-all-student .ant-table-cell {
    border: 0.5px solid #ccc;
}

.table-all-student .ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left {
    border-color: transparent;
}

.modal-student .ant-modal-content {}

.swal2-container {
    z-index: 9999999999;
}

button[disabled] {
    opacity: 0.5;
    cursor : not-allowed;
}